:root {
  --primary-color: #fff;
  --secondary-color: #f9f9fb;
  --tertiary-color: #6e6af4;
  --home-first-color: #544df0;
  --home-second-color: #6e6af4;
  --text-color: #000000;
  --neutral-color: #43474e;
}

:root .dark {
  --primary-color: #272d40;
  --secondary-color: #28263300;
  --tertiary-color: #6f6af500;
  --home-first-color: #3e4657;
  --home-second-color: #485266;
  --text-color: #ffffff;
  --neutral-color: #43474e;
}

body {
  .container {
    display: flex;
    flex-direction: column;
    padding: 4rem 8rem;
    font-family: josefInSansMedium;
    background-color: var(--primary-color);
    height: 100vh;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: currentColor;
  }

  h1 {
    font-size: 2.8rem;
  }

  .header {
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        font-size: 3rem;
      }

      .wrapper {
        display: flex;
        gap: 2.3rem;

        .theme {
          cursor: pointer;
          display: none;

          .light, .dark {
            width: 1.2rem;
            height: 1.2rem;
          }
        }

        .active {
          display: block;
        }

        .menu {
          display: flex;
          gap: 2rem;
          color: var(--neutral-color);
        }
      }
    }
  }

  .home {
    display: flex;
    margin-top: 8rem;

    .contactWrapper {
      display: flex;
      transform: rotate(-90deg);
      margin-top: 8rem;
      gap: 2rem;
      z-index: 1;

      .iconWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.2rem;
        box-sizing: border-box;
        border-radius: 0.3rem;
        border: 2px var(--primary-color) solid;
        transition: border 0.3s ease-in-out;

        &:hover {
          border: 2px var(--home-second-color) solid;
        }

        img {
          width: 2rem;
          height: 2rem;
          cursor: pointer;
          box-sizing: border-box;
        }
      }
    }
  }

  svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    .frontWave {
      fill: var(--home-first-color);
    }

    .backWave {
      fill: var(--home-second-color);
    }

    circle {
      fill: var(--primary-color);
    }
  }

  .nameWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-size: 4rem;
      color: var(--text-color);
    }

    h2 {
      color: var(--neutral-color);
    }
  }

  span {
    font-size: 1.3rem;
    color: var(--neutral-color);
  }

  .companies {
    display: flex;
    margin-left: 2rem;
    gap: 8rem;

    li {
      img {
        width: 4rem;
        height: 4rem;

        &:not(.active) {
          filter: grayscale(90%);
        }
      }
    }
  }

  .about {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;

    .imageWrapper {
      img {
        width: 30rem;
        height: 30.1rem;
        object-fit: cover;
      }
    }

    .aboutWrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 30rem;

      p {
        font-size: 1rem;
        color: var(--neutral-color);
        line-height: 1.8;
      }
    }
  }

  #skills {
    .skillHeader {
      align-self: center;
    }

    .skills {
      display: flex;
      justify-content: space-between;
      margin-top: 4rem;

      .column {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .skill {
          display: flex;

          h3 {
            font-size: 1.4rem;
            width: 18rem;
          }

          .wrapper {
            display: flex;
            align-items: center;
            gap: 0.4rem;

            .circle {
              width: 1.2rem;
              height: 1.2rem;
              border-radius: 50%;
              background-color: var(--neutral-color);
              opacity: 0.1;
              transition: opacity 0.3s ease-in-out;

              &:hover {
                &:not(.active) {
                  background-color: var(--home-second-color);
                  opacity: 0.3;
                }
              }
            }

            .active {
              background-color: var(--home-second-color);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

// TODO: HOW CONTAINER SHOULD BE?!
// TODO: SNAP FOR SECTIONS
// TODO: THEME
// TODO: MENU RESPONSIVE
// TODO: SUPPORTS
// TODO: WAVES SHAPE
