:root {
  --primary-color: #fff;
  --secondary-color: #e2e2e7;
  --first-wave-color: #544df0;
  --second-wave-color: #6e6af4;
  --text-color: #000000;
  --neutral-color: #808188;
}

:root .dark {
  --primary-color: #272d40;
  --secondary-color: #282633;
  --first-wave-color: #3e4657;
  --second-wave-color: #485266;
  --text-color: #ffffff;
  --neutral-color: #808188;
}

body {
  .container {
    display: flex;
    flex-direction: column;
    padding: 4rem 8rem;
    font-family: josefInSansMedium;
    background-color: var(--primary-color);
    height: 100vh;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: currentColor;
  }

  h1 {
    font-size: 2.8rem;
    color: var(--text-color);
  }

  .sectionHeader {
    align-self: center;
    margin-bottom: 4rem;
  }

  .menu {
    display: flex;
    gap: 2rem;
    color: var(--neutral-color);
  }

  .contactWrapper {
    display: flex;
    transform: rotate(-90deg);
    margin-top: 8rem;
    gap: 2rem;
    z-index: 1;

    .iconWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.2rem;
      box-sizing: border-box;
      border-radius: 0.3rem;
      border: 2px var(--primary-color) solid;
      transition: border 0.3s ease-in-out;

      &:hover {
        border: 2px var(--second-wave-color) solid;
      }

      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        box-sizing: border-box;
      }
    }
  }

  .header {
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        font-size: 3rem;
        color: var(--text-color);
      }

      .wrapper {
        display: flex;
        align-items: center;
        gap: 2.3rem;

        .theme {
          cursor: pointer;
          display: none;

          .light, .dark {
            width: 1.5rem;
            height: 1.5rem;
          }
        }

        .active {
          display: block;
        }
      }
    }
  }

  .home {
    display: flex;
    margin-top: 8rem;
  }

  .svgContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    .frontWave {
      fill: var(--first-wave-color);
    }

    .backWave {
      fill: var(--second-wave-color);
    }

    circle {
      fill: var(--primary-color);
    }
  }

  .nameWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-size: 4rem;
      color: var(--text-color);
    }

    h2 {
      color: var(--neutral-color);
    }
  }

  span {
    font-size: 1.3rem;
    color: var(--neutral-color);
  }

  .companies {
    display: flex;
    margin-left: 2rem;
    margin-top: 1.7rem;
    gap: 8rem;

    li {
      img {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  .about {
    display: flex;
    justify-content: space-between;
    margin-top: 2.6rem;

    .imageWrapper {
      img {
        width: 30rem;
        height: 30rem;
        object-fit: cover;
      }
    }

    .aboutWrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 30rem;

      p {
        font-size: 1rem;
        color: var(--neutral-color);
        line-height: 1.8;
      }
    }
  }

  .skills {
    display: flex;
    justify-content: space-between;

    .column {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .skill {
        display: flex;

        h3 {
          font-size: 1.4rem;
          width: 18rem;
          color: var(--text-color);
        }

        .wrapper {
          display: flex;
          align-items: center;
          gap: 0.4rem;

          .circle {
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background-color: var(--neutral-color);
            opacity: 0.1;
            transition: opacity 0.3s ease-in-out;

            &:hover {
              &:not(.active) {
                background-color: var(--second-wave-color);
                opacity: 0.3;
              }
            }
          }

          .active {
            background-color: var(--second-wave-color);
            opacity: 1;
          }
        }
      }
    }
  }

  .education {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--secondary-color);
    margin: -4rem -5rem -4rem -8rem;
    border-radius: 0.2rem;
    height: 100vh;

    h1 {
      align-self: unset;
      margin: 4rem auto 0;
    }

    .cardWrapper {
      display: flex;

      .svgContainer {
        fill: var(--secondary-color);
      }

      .card {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        left: 20%;
        top: 38%;
        width: 20rem;
        height: 13.33rem;
        position: absolute;
        transform: translateX(-50%);
        color: #fff;
        transition-property: background-color, left, width, height;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        padding: 2rem;
        border-radius: 0.2rem;
        background-color: var(--primary-color);

        &.active {
          left: 50%;
          top: 30%;
          width: 30rem;
          height: 20rem;
          z-index: 10;
          cursor: default;

          .universityWrapper {
            h2 {
              font-size: 1.4rem;
            }

            img {
              width: 10rem;
              height: 10rem;
            }
          }

          .infoWrapper {
            h3 {
              font-size: 1rem;
            }

            span {
              font-size: 1rem;
            }
          }
        }

        .universityWrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 2rem;

          h2 {
            font-size: 1rem;
            transition: font-size 0.3s ease-in-out;
            color: var(--text-color);
          }

          img {
            width: 5rem;
            height: 5rem;
            transition-property: width, height;
            transition: 0.3s ease-in-out;
          }
        }

        .infoWrapper {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          h3 {
            font-size: 0.6rem;
            transition: font-size 0.3s ease-in-out;
            color: var(--text-color);
          }

          span {
            font-size: 0.6rem;
            transition: font-size 0.3s ease-in-out;
          }
        }
      }
    }
  }

  #footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 4rem 8rem;
    height: unset;

    .footer {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;

      .contactWrapper {
        transform: rotate(0);
        margin-top: 0;
      }
    }

    .separator {
      height: 0.1rem;
      background-color: var(--neutral-color);
      opacity: 0.5;
    }

    .copyWrite {
      font-size: 0.8rem;
      align-self: center;
    }
  }
}

// TODO: HOW CONTAINER SHOULD BE?!
// TODO: SNAP FOR SECTIONS
// TODO: THEME
// TODO: MENU RESPONSIVE
// TODO: SUPPORTS
// TODO: WAVES SHAPE
// TODO: IMAGE FOR HOME :)
// TODO: SKILL SECTION SHOULD HAVE ANIMATION

// TODO: CHECK COLORS FOR THEME
// TODO: SHOULD KEEP CHOSEN THEME FOR USER

// TODO: ADD LANGUAGE?
