.blogsWrapper
  padding-top: 100px

  .article
    display: flex
    flex-direction: column
    align-items: center
    gap: 40px

    .articleContent
      section
        margin-top: 30px

        h2
          font-size: 30px
          margin-bottom: 20px

        p
          font-size: 18px
          line-height: 1.5
          color: var(--mediumGray)
          margin-bottom: 10px

        li
          position: relative

          span
            margin-inline-start: 20px

        li:not(:last-child)
          margin-bottom: 10px

        li:before
          content: ""
          width: 10px
          height: 10px
          border-radius: 50%
          background-color: #544df0
          position: absolute
          left: 0
          top: 50%
          transform: translateY(-50%)

    .button
      align-self: flex-start

      .arrowIcon
        width: 30px
        height: 30px