.contactWrapper
    padding-top: 10rem

    .contact
        background: var(--secondaryColor)

        .rowWrapper
            display: flex
            justify-content: space-between
            gap: 2rem

            .content
                display: flex
                flex-direction: column
                align-self: center
                max-width: 50rem
                z-index: 1

                .title
                    margin-bottom: 3rem

                .description
                    font-size: 2rem
                    line-height: 1.2

                .email
                    display: flex
                    align-items: center
                    gap: 1.5rem
                    margin-top: 8rem

                    .emailIcon
                        font-size: 2.5rem

            @include mixins.respond-to('medium-desktop')
                .content
                    max-width: 40rem

                    .title
                        margin-bottom: 2rem

                    .description
                        font-size: 1.5rem

                    .email
                        margin-top: 5rem

            @include mixins.respond-to('small-desktop')
                flex-direction: column
                gap: 5rem

                .content
                    max-width: unset

                    .email
                        margin-top: 2rem

            @include mixins.respond-to('big-phone')
                .contactForm
                    fieldset
                        .row
                            flex-direction: column

            @include mixins.respond-to('phone')
                .content
                    .title
                        margin-bottom: 1.5rem