@font-face {
    font-family: josefInSansBold;
    src: url("JosefinSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: josefInSansItalic;
    src: url("JosefinSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: josefInSansLight;
    src: url("JosefinSans-Light.ttf");
}

@font-face {
    font-family: josefInSansMedium;
    src: url("JosefinSans-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: josefInSansRegular;
    src: url("JosefinSans-Regular.ttf");
}

@font-face {
    font-family: josefInSansSemiBold;
    src: url("JosefinSans-SemiBold.ttf");
}

@font-face {
    font-family: josefInSansThin;
    src: url("JosefinSans-Thin.ttf");
}

@font-face {
    font-family: iranSans;
    src: url("FontsFree-Net-ir_sans.ttf");
}