@font-face {
    font-family: josefInSansBold;
    src: url("../assets/fonts/JosefinSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: josefInSansItalic;
    src: url("../assets/fonts/JosefinSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: josefInSansLight;
    src: url("../assets/fonts/JosefinSans-Light.ttf");
}

@font-face {
    font-family: josefInSansMedium;
    src: url("../assets/fonts/JosefinSans-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: josefInSansRegular;
    src: url("../assets/fonts/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: josefInSansSemiBold;
    src: url("../assets/fonts/JosefinSans-SemiBold.ttf");
}

@font-face {
    font-family: josefInSansThin;
    src: url("../assets/fonts/JosefinSans-Thin.ttf");
}