@font-face {
    font-family: josefInSansBold;
    src: url("../../public/fonts/josefinSans/JosefinSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: josefInSansItalic;
    src: url("../../public/fonts/josefinSans/JosefinSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: josefInSansLight;
    src: url("../../public/fonts/josefinSans/JosefinSans-Light.ttf");
}

@font-face {
    font-family: josefInSansMedium;
    src: url("../../public/fonts/josefinSans/JosefinSans-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: josefInSansRegular;
    src: url("../../public/fonts/josefinSans/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: josefInSansSemiBold;
    src: url("../../public/fonts/josefinSans/JosefinSans-SemiBold.ttf");
}

@font-face {
    font-family: josefInSansThin;
    src: url("../../public/fonts/josefinSans/JosefinSans-Thin.ttf");
}

@font-face {
    font-family: iranSans;
    src: url("../../public/fonts/iranSans/IranSans.ttf");
}

@font-face {
    font-family: cormorantGaramondBold;
    src: url("../../public/fonts/cormorantGaramond/CormorantGaramond-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: cormorantGaramondItalic;
    src: url("../../public/fonts/cormorantGaramond/CormorantGaramond-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: cormorantGaramondLight;
    src: url("../../public/fonts/cormorantGaramond/CormorantGaramond-Light.ttf");
}

@font-face {
    font-family: cormorantGaramondMedium;
    src: url("../../public/fonts/cormorantGaramond/CormorantGaramond-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: cormorantGaramondRegular;
    src: url("../../public/fonts/cormorantGaramond/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: cormorantGaramondSemiBold;
    src: url("../../public/fonts/cormorantGaramond/CormorantGaramond-SemiBold.ttf");
}