@import "../mixins"

.projectsWrapper
  padding-top: 100px

  .projects
    display: grid
    grid-template-rows: repeat(2, 1fr)
    gap: 2rem
    width: 100%
    flex-grow: 1

    .currentItem
      grid-row: span 2

    .slider
      display: flex
      justify-content: space-between
      align-items: center
      gap: 1rem
      grid-row: span 1
      position: relative

      .sliderItems
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 2rem
        justify-content: center

        @include respond-to('small-desktop')
          grid-template-columns: repeat(3, 1fr)
          justify-items: center

        @include respond-to('tablet')
          grid-template-columns: repeat(2, 1fr)

        @include respond-to('big-phone')
          grid-template-columns: repeat(1, 1fr)

      .chevronIcon
        position: absolute
        font-size: 110px
        color: var(--neutralColor)
        cursor: pointer
        opacity: 0.3
        transition: opacity 0.3s ease-in-out

        @include respond-to('desktop')
          font-size: 80px

        @include respond-to('small-desktop')
          font-size: 50px

      .chevronLeft
        left: 0

        &:hover
          opacity: 1

      .chevronRight
        right: 0

        &:hover
          opacity: 1

      .item
        height: 100%
