.education
  .educationContainer
    background: var(--secondaryColor)

    .educationWrapper
      display: flex
      justify-content: space-between
      gap: 2rem

      @include mixins.respond-to('medium-desktop')
        flex-direction: column