.projectWrapper
  display: flex
  flex-direction: column-reverse
  align-items: center
  gap: 1.2rem
  cursor: pointer
  background: var(--secondaryColor)
  padding: 1rem
  border-radius: 0.5rem
  box-shadow: var(--secondaryColor) 0 7px 29px 0

  &.currentProjectWrapper
    padding: 3rem
    box-sizing: border-box
    flex-direction: row
    justify-content: center
    cursor: auto
    height: 100%

    @include mixins.respond-to('small-desktop')
      flex-direction: column-reverse
      align-items: normal

      .content
        margin-top: 3rem
        flex-grow: 1
        width: 100%
        padding-left: 0 !important

    .content
      padding-left: 5rem
      width: 50%
      color: var(--textColor)

      @include mixins.respond-to('desktop')
        padding-left: 2rem

      @include mixins.respond-to('small-desktop')
        width: 100%

      .links
        display: flex
        gap: 1rem
        margin-top: 2rem

      .title
        font-size: 4rem
        text-align: left
        text-wrap: wrap

        @include mixins.respond-to('tablet')
          font-size: 3rem

        @include mixins.respond-to('phone')
          font-size: 2rem

    .imageWrapper
      height: unset
      width: 50%
      max-height: unset
      aspect-ratio: unset

  .content
    display: flex
    flex-direction: column
    flex-grow: 1
    gap: 2rem

    .title
      font-size: 1.8rem
      text-wrap: nowrap
      text-align: center

    .skills
      display: flex
      gap: 0.5rem

      .skill
        font-size: 1.6rem
        padding: 0.4rem 0.8rem
        border-radius: 1.5rem
        background: var(--neutralColor)
        color: white

    .description
      margin-top: 3rem
      line-height: 1.3

  .imageWrapper
    width: 100%
    height: 100%
    border-radius: 0.5rem
    background: var(--secondaryColor)
    overflow: hidden
    max-height: 12.7rem
    aspect-ratio: 4/3

    .projectImage
      width: 100%
      height: 100%
      border-radius: 0.5rem
      object-fit: cover