.theme
  cursor: pointer
  width: 1.5rem
  height: 1.5rem

//@media only screen and (max-width: 1300px)
//  .container
//    padding: 4rem 6rem
//
//@media only screen and (max-width: 840px)
//  .container
//    padding: 2rem 4rem
//
//@media only screen and (max-width: 465px)
//  .container
//    padding: 2rem