.sectionWrapper
  .experiencesWrapper
    display: flex
    flex-direction: column
    gap: 10mm
    position: relative

    &:before
      content: ""
      position: absolute
      left: 41.3mm
      width: 0.5mm
      height: 100%
      background-color: #bdc3c7
      z-index: -1