.aboutWrapper
  padding-top: 100px

  .about
    display: flex
    flex-direction: row
    flex-wrap: wrap
    gap: 100px
    justify-content: space-between

    .contentWrapper
      display: flex
      gap: 100px
      flex: 1

      @include mixins.respond-to('medium-desktop')
        flex-direction: column

      @include mixins.respond-to('tablet')
        gap: 120px

      .imageWrapper
        position: relative
        width: 30rem
        height: 38rem
        max-width: 100%
        border-radius: 1.5rem
        overflow: hidden

        @include mixins.respond-to('medium-desktop')
          width: 100%
          height: 28rem

        .myImage
          border-radius: 1.5rem
          object-fit: cover

        .myImageSkeleton
          border-radius: 1.5rem

      .infoWrapper
        flex: 1
        margin-top: 150px

        @include mixins.respond-to('desktop')
          margin-top: 0

        @include mixins.respond-to('big-phone')
          margin-top: 10px

        .title
          margin-bottom: 3rem

          @include mixins.respond-to('medium-desktop')
            margin-bottom: 2rem

          @include mixins.respond-to('phone')
            margin-bottom: 1.5rem

        p
          font-size: 1rem
          color: var(--neutralColor)
          line-height: 1.8